# Tarea 1. Estadística no paramétrica.

Nombre:

In [4]:
library(ggplot2)
library(dplyr)

## Ejercicio 1

Los siguientes precios de casas en Houston, TX (en miles de dólares) fueron extraídos de zillow\.com en agosto de 2019:

$$162\quad 165\quad 167\quad 188\quad 189\quad 194\quad 200\quad 233\quad 236\quad 247\\
248\quad 257\quad 258\quad 286\quad 290\quad 307\quad 330\quad 345\quad 377\quad 389\\
459\quad 460\quad 513\quad 569\quad 1399$$

Tratando estas 25 casas como una muestra aleatoria de todas las viviendas disponibles en Houston, calcule un intervalo al 90% para la verdadera mediana del precio de las casas en esa ciudad.

In [26]:
datos<- c(162, 165, 167, 188, 189, 194, 200, 233, 236, 247, 248, 257, 258, 286, 290, 307, 330, 345, 377, 389, 459, 460, 513, 569, 1399)
datos

 [1]  162  165  167  188  189  194  200  233  236  247  248  257  258  286  290
[16]  307  330  345  377  389  459  460  513  569 1399

In [27]:
df<- tibble(Datos = datos, Rango = rank(datos))
df

   Datos Rango
1   162   1
2   165   2
3   167   3
4   188   4
5   189   5
6   194   6
7   200   7
8   233   8
9   236   9
10  247  10
11  248  11
12  257  12
13  258  13
14  286  14
15  290  15
16  307  16
17  330  17
18  345  18
19  377  19
20  389  20
21  459  21
22  460  22
23  513  23
24  569  24
25 1399  25

In [29]:
my_ic<-function(n, p, r,s){
prob<- sum(dbinom(r:(s-1), size=n, prob=p))
prob
}

In [36]:
my_ic(25, 0.5, 8, 17)

[1] 0.9244813

In [37]:
datos[8]
datos[17]

[1] 233

[1] 330

In [39]:
mean(datos)

[1] 338.72

## Ejercicio 2

Una muestra de 12 detectores de radón de cierto tipo fue seleccionada, y cada uno fue expuesto a 100 pCi/L de radón. Las lecturas resultantes fueron las siguientes:

$$105.6\quad 90.9\quad 91.2\quad 96.9\quad 96.5\quad 91.3\\
100.1\quad 105.0\quad 99.6\quad 107.7\quad 103.3\quad 92.4
$$

¿Sugieren estos datos que la media poblacional bajo estas condiciones difiere de 100? Establezca y pruebe las hipótesis apropiadas utilizando $\alpha = 0.05$. Llevar cabo la prueba de suma de rangos con signos de Wilcoxon paso a paso y comparar los resultados con el respectivo t test.